@model IEnumerable<App.Domain.Appointment>

@using Microsoft.AspNetCore.Identity
@using App.Domain.Identity
@using App.Domain
@using Base.Extensions
@inject SignInManager<AppUser> _signInManager
@inject UserManager<AppUser> _userManager

@{
    ViewData["Title"] = "Index";
    var index = 0;
}



<div class="card shadow mb-4 p-4" style="height: calc(100vh - 150px); top: 10px">

<h1>Your Schedule</h1>
<!-- Wrapper -->
<div id="wrapper">
    <!-- Calendar element -->
    <div id="events-calendar" data-month-format="month YYYY"></div>

    <div class="row" style="height: 100%">

        <!-- Events -->
        <div id="events" class="border"></div>
    </div>
</div>

</div>


@foreach (var item in Model)
{
    var customer = (Customer?)item.Customer;
    <!-- Modal -->
    <div class="modal fade" id="a-@item?.Id" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                        <h5 class="text-primary">Appointment</h5>

                        <div class="card border mb-3" style="min-width: 16rem; height: 100%; width: 100%">
                            <div class="card-body text-primary" style="display:flex">
                                <div class="calendar-icon">
                                    <i class="fa fa-light fa-calendar text-secondary" style="font-size:100px; text-decoration: none;"></i>
                                </div>
                                <div class="w-100">
                                    <figure>
                                        <blockquote class="blockquote text-black">
                                            <p style="text-transform: capitalize;">Name : @item?.Customer?.FirstLastName</p>
                                            <p id="bookTime">Time&nbsp;&nbsp;: @item?.StartTime</p>
                                        </blockquote>
                                        <figcaption class="blockquote-footer">
                                            <p>Type&nbsp;: @item?.Service?.Name</p>
                                            <p>Span&nbsp;: @item?.Service?.TimeSpan</p>
                                            <p>Price&nbsp;: $@item?.Service?.Price</p>
                                        </figcaption>
                                    </figure>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                
                <div class="modal-footer" style="display: flex; justify-content: center; flex-wrap: nowrap">
                    <button type="button" class="btn btn-primary w-50" data-bs-dismiss="modal" aria-label="Close">OK</button>

                    @if (User.IsInRole("admin"))
                    {
                        <button type="button" class="btn btn-danger w-50">Cancel appointment</button>
                    }


                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="d-@item?.Id" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                        <h5 class="text-primary">Appointment</h5>

                        <div class="card border mb-3" style="min-width: 16rem; height: 100%; width: 100%">
                            <div class="card-body text-primary" style="display:flex">
                                <div class="calendar-icon">
                                    <i class="fa fa-light fa-calendar text-secondary" style="font-size:100px; text-decoration: none;"></i>
                                </div>
                                <div class="w-100">
                                    <figure>
                                        <blockquote class="blockquote text-black">
                                            <p style="text-transform: capitalize;">Name : @item?.Customer?.FirstLastName</p>
                                            <p id="bookTime">Time&nbsp;&nbsp;: @item?.StartTime</p>
                                        </blockquote>
                                        <figcaption class="blockquote-footer">
                                            <p>Type  &nbsp; : @item?.Service?.Name</p>
                                            <p>Span  &nbsp; : @item?.Service?.TimeSpan</p>
                                            <p>Price &nbsp; : $@item?.Service?.Price</p>
                                        </figcaption>
                                    </figure>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer" style="display: flex; justify-content: center; flex-wrap: nowrap">
                    <button type="button" class="btn btn-primary w-50" data-bs-dismiss="modal" aria-label="Close">OK</button>

                    @if (User.IsInRole("admin"))
                    {
                        <button type="button" class="btn btn-danger w-50">Edit appointment</button>
                        <button type="button" class="btn btn-danger w-50">Cancel appointment</button>
                    }


                </div>
            </div>
        </div>
    </div>

}

<link rel="stylesheet" href="~/css/calendar.css" asp-append-version="true" />
<link rel="stylesheet" type="text/css" href="~/css/jsCalendar.css">

<style>
    #wrapper {
        height: 100%;
    }

    #events {
        width: 98%;
    }

    #events .list {
        border-bottom: none;
    }

    #events .list .event-item-i {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
</style>

<script src="~/js/moment.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/js/jsCalendar.js"></script>



<script>
    
    function cancel(id) {
        let data = {
            id: id
        }
        $.ajax({
            type: 'POST',
            url: '/Appointment/DeleteAppointment',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
            data: data,
            success: function (result) {
                if (result == "error") {
                    alert('Failed to reserve the Data');
                    console.log('Failed ');
                }
                else {
                    alert('Successfully reserve Data ');
                }
            },
            error: function () {
                alert('Error occures to reserve the Data');
                console.log('Error occures ');
            }
        })
        toggleModal();
    }
    
    function toggleModal(id) {
        console.log(id)
        var myModal = new bootstrap.Modal(document.getElementById('a-' + id), {
            keyboard: false
        });

        myModal.toggle();
    }

</script>

<script type="text/javascript">
    function isContainDate(Days, date) {
        for (i = 0; i < Days.length; i++) {
            if (moment(Days[i].date).format("YYYY-MM-DD") == moment(date).format("YYYY-MM-DD")) {
                return true;
            }
        }
        return false;
    }

    generatecalendar()
   
    async function generatecalendar() {
        // Get elements
        document.getElementById("events-calendar").innerHTML = "";
        document.getElementById("events").innerHTML = "";
        var elements = {
            // Calendar element
            calendar: document.getElementById("events-calendar"),
            // Input element
            events: document.getElementById("events")
        }

        // Create the calendar
        elements.calendar.className = "material-theme custom-green";
        var calendar = jsCalendar.new(elements.calendar);

        //
        let data = {
            Id: '@User.GetUserId()',
        }
        var mindate = moment();
        var workTimes = [];
        var events = {
        };
        var times = {}

        await $.ajax({
            type: 'POST',
            url: '/Appointment/getWorkingTimes',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
            data: data,
            success: function (result) {
                workTimes = result;
                if (result == "error") {
                    alert('Failed to receive the Data');
                    console.log('Failed ');
                }
                else {
                    console.log(result);
                    if(result.length != 0) 
                    {
                        workTimes = result;
                        //set min max month
                        if (moment().diff(result[0].date, 'days') > 0)
                            mindate = moment()
                        else
                            mindate = moment(result[0].date)
                        console.log('333',mindate)
                        calendar.min(moment(mindate).format("DD/MM/YYYY"));
                        calendar.max(moment(result[result.length - 1].date).format("DD/MM/YYYY"));
                        calendar.set(moment(mindate).format("DD/MM/YYYY"));
                    }
                }
            },
            error: function () {
                alert('Error occures to receive the Data');
                console.log('Error occures ');
            }
        })
        // get booking times
        await $.ajax({
            type: 'POST',
            url: '/Appointment/readAppointmentsById',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: data,
            success: function (result) {
                if (result == "error") {
                    alert('Failed to receive the Data');
                    console.log('Failed ');
                }
                else {
                    var mainData = JSON.parse(result);
                    var colors = [
                        "#198754",
                        "#0D6EFD",
                        "#FFC107",
                        "#8540F5",
                        "#4DD4AC"
                    ];
                    console.log('11111111',mainData)
                    for (i = 0; i < mainData.length; i++) {
                        let tId = moment(mainData[i].StartTime).format("DD/MM/YYYY");
                        console.log(tId)
                        let val = parseInt(moment(mainData[i].StartTime).subtract(3, 'hours').format("H"));
                            // If no events, create list
                        if (!events.hasOwnProperty(tId)) {
                            // Create list
                            events[tId] = [];
                        }
                        events[tId].push({
                                time: val,
                                id: mainData[i].Id,
                                name: mainData[i].Customer.FirstLastName,
                                service: mainData[i].Service.Name
                        });
                    }
                    console.log('222222222',events)

                }
            },
            error: function () {
                alert('Error occures to receive the Data');
                console.log('Error occures ');
            }
        })

        console.log('dddddddd',events)
        //
        // Make changes on the date elements that disbled
        calendar.onDateRender(function (date, element, info) {
            if (!isContainDate(workTimes, date)) {
                element.style.color = '#CACACA'
            }
        });
        //
        // Create events elements
        elements.title = document.createElement("div");
        elements.title.className = "title";
        elements.events.appendChild(elements.title);
        elements.subtitle = document.createElement("div");
        elements.subtitle.className = "subtitle";
        elements.events.appendChild(elements.subtitle);
        elements.list = document.createElement("div");
        elements.list.className = "list";
        elements.events.appendChild(elements.list);

        // Refresh layout
        calendar.refresh();


        var date_format = "DD/MM/YYYY";

        var showEvents = function (date) {
            console.log("datedate", date)
            // getDatetimes(date)
            // Date string
            var id = date;
            // Set title
            elements.title.textContent = id;
            // Clear old events
            elements.list.innerHTML = "";
            // Add events on list
            if (events.hasOwnProperty(id) && events[id].length) {
                // Number of events
                elements.subtitle.textContent = events[id].length + " " + ((events[id].length > 1) ? "times are" : "time is") + " available.";

                var div;
                var close;
                for (var i = 0; i < events[id].length; i++) {
                    div = document.createElement("div");
                    div.className = "event-item-i";
                    let time = ''
                    if(events[id][i]<10)
                        time = `0${events[id][i].time} : 00`;
                    else
                        time = `${events[id][i].time} : 00`;
                    div.textContent = time + " " + events[id][i].name + ". ";
                    elements.list.appendChild(div);
                    div.addEventListener("click", (function (date, index) {
                        return function () {
                            toggleModal(events[id][index]?.id)
                        }
                    })(date, i), false);
                    sType = document.createElement("span");
                    sType.className = "bg-info rounded-pill mx-2";
                    sType.textContent = " " + events[id][i].service + " ";
                    div.appendChild(sType);
                }
            } else {
                elements.subtitle.textContent = "No events";
            }
        };

        // Show current date events
        console.log(mindate)
        // showEvents(new Date(moment(mindate).format("YYYY"), moment(mindate).subtract(1, "days").format("DD"), moment(mindate).format("MM")));
        showEvents(moment(mindate).format("MM/DD/YYYY"))

        // Add events
        calendar.onDateClick(function (event, date) {
            // Update calendar date
            if (isContainDate(workTimes, date)) {
                calendar.set(date);
                // Show events
                showEvents(date);
            }
        });

    }

</script>
