@model IEnumerable<App.Domain.Appointment>

@using Microsoft.AspNetCore.Identity
@using App.Domain.Identity
@using App.Domain
@using Base.Extensions
@inject SignInManager<AppUser> _signInManager
@inject UserManager<AppUser> _userManager

@{
    ViewData["Title"] = "Index";
    var index = 0;
}

<h1>Your Schedule</h1>
<div mbsc-page class="demo-event-labels">
    <div style="height:100%">
        <div id="demo-events-labels"></div>
    </div>
</div>



@foreach (var item in Model)
{
    var customer = (Customer?)item.Customer;
    <!-- Modal -->
    <div class="modal fade" id="a-@item.Id" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                        <h5 class="text-primary">Appointment</h5>
                        
                        <div class="card border-primary mb-3" style="min-width: 16rem; height: 100%; width: 100%">
                            <div class="card-body text-primary" style="display:flex">
                                <div class="calendar-icon">
                                    <a asp-action="index" class="text-secondary" style="font-size:100px; text-decoration: none;"><i class="fa fa-light fa-calendar"></i></a>
                                </div>
                                <div class="w-100">
                                    <figure>
                                        <blockquote class="blockquote">
                                            <p style="text-transform: capitalize;">@item?.Customer?.FirstLastName</p>
                                            <p id="bookTime">@item?.StartTime</p>
                                        </blockquote>
                                        <figcaption class="blockquote-footer">
                                            <p>@item?.Service?.Name</p>
                                            <p>@item?.Service?.TimeSpan</p>
                                            <p>$@item?.Service?.Price</p>
                                        </figcaption>
                                    </figure>
                                    <hr />
                                    <div class="w-50" style="float: right">
                                        <div class="space-between">
                                            <p>Subtotal</p>
                                            <p>$@item?.Service?.Price</p>
                                        </div>
                                        <div class="space-between">
                                            <p>Sales Tax</p>
                                            <p>$0</p>
                                        </div>
                                        <hr />
                                        <div class="space-between">
                                            <p>Total</p>
                                            <p>$@item?.Service?.Price</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer" style="display: flex; justify-content: center; flex-wrap: nowrap">
                    <button type="button" class="btn btn-primary w-50">OK</button>
                    
                        @if (User.IsInRole("admin"))
                    {
                        <button type="button" class="btn btn-danger w-50">Cancel appointment</button>
                    }
                    
                    
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="b-@item?.Id" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Confirm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                        <h5 class="text-primary">Confirm delete</h5>
                    </div>

                </div>
                <div class="modal-footer" style="display: flex; justify-content: center; flex-wrap: nowrap">
                    <a 
                        class="btn btn-danger w-50" 
                        asp-action="DeleteAppointment" 
                        asp-route-id="@item.Id" 
                        asp-route-uid="@User.GetUserId()" 
                    >
                        Cancel Appointment
                    </a>
                    <button type="button" class="btn btn-info w-50">Close</button>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/js/mobiscroll.javascript.min.js"></script>
<script src="~/js/moment.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    
    function viewDetail(id) {
        console.log(model[0])
        /*
        let data = {
            id: id
        }
        $.ajax({
            type: 'POST',
            url: '/Appointment/DetailAppointment',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
            data: data,
            success: function (result) {
                if (result == "error") {
                    alert('Failed to reserve the Data');
                    console.log('Failed ');
                }
                else {
                    alert('Successfully reserve Data ');
                    console.log(result);
                }
            },
            error: function () {
                alert('Error occures to reserve the Data');
                console.log('Error occures ');
            }
        })
        */
        toggleModal();
    }

    function cancel(id) {
        let data = {
            id: id
        }
        $.ajax({
            type: 'POST',
            url: '/Appointment/DeleteAppointment',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
            data: data,
            success: function (result) {
                if (result == "error") {
                    alert('Failed to reserve the Data');
                    console.log('Failed ');
                }
                else {
                    alert('Successfully reserve Data ');
                    console.log(result);
                }
            },
            error: function () {
                alert('Error occures to reserve the Data');
                console.log('Error occures ');
            }
        })
        toggleModal();
    }

</script>

<script>
    
    readAppointmentsById()
    
    var inst = mobiscroll.eventcalendar('#demo-events-labels', {
        theme: 'ios',                           // Specify theme like: theme: 'ios' or omit setting to use default
        themeVariant: 'light',                  // More info about themeVariant: https://docs.mobiscroll.com/5-23-0/javascript/eventcalendar#opt-themeVariant
        view: {                                 // More info about view: https://docs.mobiscroll.com/5-23-0/javascript/eventcalendar#opt-view
            calendar: {
                labels: true                    // More info about labels: https://docs.mobiscroll.com/5-23-0/javascript/eventcalendar#opt-labels
            }
        },
        onEventClick: function (event, inst) {  // More info about onEventClick: https://docs.mobiscroll.com/5-23-0/javascript/eventcalendar#event-onEventClick
            mobiscroll.toast({ 
                
                message: event.event.title
            });
            toggleModal(event.event.id)
        }
    });

    function readAppointmentsById() {
        let data = {
            Id: '@User.GetUserId()',
        }
        // get working times
        $.ajax({
            type: 'POST',
            url: '/Appointment/readAppointmentsById',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: data,
            success: function (result) {
                if (result == "error") {
                    alert('Failed to receive the Data');
                    console.log('Failed ');
                }
                else {
                    var mainData = JSON.parse(result);
                    var events = [];
                    var colors = [
                        "#198754",
                        "#0D6EFD",
                        "#FFC107",
                        "#8540F5",
                        "#4DD4AC"
                    ];
                    for(i=0;i<mainData.length;i++)
                    {
                        let item = {
                            start: moment(mainData[i].StartTime).add(4, "hours"),
                            end: moment(mainData[i].StartTime).add(4.75, "hours"),
                            title: mainData[i].Customer.FirstLastName,
                            color: colors[Math.floor(Math.random() * colors.length)],
                            id: mainData[i].Id,
                        }
                        events.push(item)
                    }
                    inst.setEvents(events);
                }
            },
            error: function () {
                alert('Error occures to receive the Data');
                console.log('Error occures ');
            }
        })
    }
    
    function toggleModal(id) {
        var myModal = new bootstrap.Modal(document.getElementById('a-'+id), {
            keyboard: false
        });

        myModal.toggle();
    }

</script>
<link rel="stylesheet" href="~/css/mobiscroll.javascript.min.css" />