@model App.Domain.WorkTimeTemplate

@{
    ViewData["Title"] = "Create";
}
<a asp-action="index" style="font-size:26px; text-decoration: none;"><i class="fa fa-angle-left"></i> &nbsp&nbspback</a>
<div style="display: flex; justify-content: center;">
    <div class="register-panel">

        <div class="card shadow mb-4 p-4" style="height: calc(100% - 10px); top: 10px;">
<h1>Create</h1>

<h4>WorkTimeTemplate</h4>
<hr />
<div class="row">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input type="time" step="900" asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StopTime" class="control-label"></label>
                <input type="time" asp-for="StopTime" class="form-control" step="900" />
                <span asp-validation-for="StopTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime1" class="control-label"></label>
                <input type="time" step="900" asp-for="StartTime1" class="form-control" />
                <span asp-validation-for="StartTime1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StopTime1" class="control-label"></label>
                <input  type="time" step="900" asp-for="StopTime1" class="form-control" />
                <span asp-validation-for="StopTime1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime2" class="control-label"></label>
                <input type="time" step="900" asp-for="StartTime2" class="form-control" />
                <span asp-validation-for="StartTime2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StopTime2" class="control-label"></label>
                <input type="time" step="900" asp-for="StopTime2" class="form-control" />
                <span asp-validation-for="StopTime2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
</div>

</div></div></div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
