@page
@model LoginModel


<link rel="stylesheet" href="~/css/login.css">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />

<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>

<div class="d-lg-flex half">
    <div class="bg order-1 order-md-2 bg-image"></div>
    <div class="contents order-2 order-md-1">

        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7">
                    <h3>Login to <strong>BARBERSHOP</strong></h3>
                    <p class="mb-4">As a customer, you can get adictional service from us.</p>

                    <form id="account" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Email" class="form-label"></label>

                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />

                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password" class="form-label"></label>

                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />

                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="mt-3" style="display: flex; justify-content:space-between;">
                            <input type="submit" value="Log In" class="btn btn-block btn-primary">
                            <a 
                                asp-page="./Register_Customer" 
                                asp-route-returnUrl="@Model.ReturnUrl" 
                                class="forgot-pass btn btn-block btn-success text-white"
                                style="text-decoration: blink; margin: 10px;"
                            >
                                Register
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
