@model App.Domain.CompanyInfo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CompanyInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkTimeWeek" class="control-label"></label>
                <input asp-for="WorkTimeWeek" class="form-control" />
                <span asp-validation-for="WorkTimeWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkTimeWeekEnd" class="control-label"></label>
                <input asp-for="WorkTimeWeekEnd" class="form-control" />
                <span asp-validation-for="WorkTimeWeekEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkTimeHolidays" class="control-label"></label>
                <input asp-for="WorkTimeHolidays" class="form-control" />
                <span asp-validation-for="WorkTimeHolidays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkTimeTemplateInfo" class="control-label"></label>
                <input asp-for="WorkTimeTemplateInfo" class="form-control" />
                <span asp-validation-for="WorkTimeTemplateInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
