@model App.Domain.WorkTime

@{
    ViewData["Title"] = "Create";
    Guid appUserId = ViewBag.AppUserId;
}

<h1>Create</h1>

<h4>WorkTime</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AppUserId" value="@appUserId"/>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input type="date" asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input type="time" asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StopTime" class="control-label"></label>
                <input type="time" asp-for="StopTime" class="form-control" />
                <span asp-validation-for="StopTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input type="time" asp-for="StartTime1" class="form-control" />
                <span asp-validation-for="StartTime1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StopTime" class="control-label"></label>
                <input type="time" asp-for="StopTime1" class="form-control" />
                <span asp-validation-for="StopTime1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input type="time" asp-for="StartTime2" class="form-control" />
                <span asp-validation-for="StartTime2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StopTime" class="control-label"></label>
                <input type="time" asp-for="StopTime2" class="form-control" />
                <span asp-validation-for="StopTime2" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-area="" asp-controller="Home"  asp-action="Edit" asp-route-id="@appUserId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
