@model App.Domain.WorkTime

@{
    ViewData["Title"] = "Edit";
}
<a href="javascript:;" onclick="history.go(-1)" style="font-size:26px; text-decoration: none;"><i class=" fas fa-arrow-circle-left"></i> &nbsp;&nbsp; back</a>

<div style="display: flex; justify-content: center;">
    <div class="register-panel">
        <div class="card shadow mb-4 p-4 body-card">

            <h1>Edit <sapn style="font-size: 30px;font-style:italic;">WorkTime</sapn></h1>

        
        <hr />
        <div class="row">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="AppUserId" />
                    <div class="form-group">
                        <label asp-for="Date" class="control-label"></label>
                        <input type="date" asp-for="Date" class="form-control" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartTime" class="control-label"></label>
                        <input type="time" asp-for="StartTime" class="form-control" />
                        <span asp-validation-for="StartTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StopTime" class="control-label"></label>
                        <input type="time" asp-for="StopTime" class="form-control" />
                        <span asp-validation-for="StopTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartTime" class="control-label"></label>
                        <input type="time" asp-for="StartTime1" class="form-control" />
                        <span asp-validation-for="StartTime1" class="text-danger"></span>
                    </div>
            
                    <div class="form-group">
                        <label asp-for="StopTime" class="control-label"></label>
                        <input type="time" asp-for="StopTime1" class="form-control" />
                        <span asp-validation-for="StopTime1" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartTime" class="control-label"></label>
                        <input type="time" asp-for="StartTime2" class="form-control" />
                        <span asp-validation-for="StartTime2" class="text-danger"></span>
                    </div>
            
                    <div class="form-group">
                        <label asp-for="StopTime" class="control-label"></label>
                        <input type="time" asp-for="StopTime2" class="form-control" />
                        <span asp-validation-for="StopTime2" class="text-danger"></span>
                    </div>
            
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary w-100"><i class="fas fa-save"></i>&nbsp; Save</button>
                    </div>
                </form>
        </div>

        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
