.main-panel {
  margin-top: 94px;
}
.div-space {
  position: relative;
  min-height: 100%;
}

label, input {
  display: block;
}

label {
  margin-top: 10px;
}
.table-ww {
  width: 400px;
}

.btn-primary{
  margin-bottom: 10px;
}

.btn-warning {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-floating{
  margin-top: 10px;
}

.checked {
  color: orange;
}

.fa-star {
  cursor: pointer;
}


/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.card-columns .card:hover .card-img {
  opacity: 1;
}

.card-columns .card-body {
  height: 100px;
  font-family: 'Nunito', sans-serif;
  background: #fbfafd;
}

.card-columns .card-img {
  height: 330px;
  vertical-align: bottom;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  opacity: .8;
}

.modal .card-img {
  height: 500px;
  vertical-align: bottom;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.card-columns .card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}


a.navbar-brand {
  white-space: normal;
  font-family: 'Yellowtail', cursive;
  font-size: xx-large;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
p {
  font-family: 'Nunito', sans-serif;
}
h1 {
  font-family: 'Nunito', sans-serif;
}
ul {
  font-family: 'Nunito', sans-serif;
}
/*Backgrounds*/ 
.bg-navbar {
  background: -webkit-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
  background: -o-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
  background: -moz-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
  background: linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
}

.main-box {
    margin-top: 50px;
    margin-bottom: 20px;
}

.md-calendar-booking .mbsc-calendar-text {
    text-align: center;
}

.md-calendar-booking .booking-datetime .mbsc-datepicker-tab-calendar {
    flex: 1 1 0;
    min-width: 300px;
}

.md-calendar-booking .mbsc-timegrid-item {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.md-calendar-booking .mbsc-timegrid-container {
    top: 30px;
}

.mbsc-form-group-title {
    display: flex;
    justify-content: space-between;
    padding: unset !important;
    font-size:unset !important;
}



.intl-tel-input {
    display: table-cell;
}

.intl-tel-input .selected-flag {
    z-index: 4;
}

.intl-tel-input .country-list {
    z-index: 5;
}

.input-group .intl-tel-input .form-control {
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.space-around {
    display: flex;
    justify-content: space-around;
}

.calendar-icon {
    margin-right: 20px;
    margin-left: 10px;
}

.card-body {
    padding: 3rem 3rem;
}

.barber-list {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .calendar-icon {
        display: none;
    }
    .barber-list {
        width: 100%
    }
}

@media only screen and (max-width: 992px) {
    .barber-list {
        width: 100%
    }
}

.address-card {
    width: 100%;
}

.delete-confirm-card {
    width: 60%;
    min-width: 550px;
}

.workTimeTemplate-panel {
    width: 50%;
    min-width: 500px;
}

@media only screen and (max-width: 700px) {
    .delete-confirm-card, .workTimeTemplate-panel {
        width: 100%;
        min-width: none;
    }
}


